body {
  margin: 0;
}

.TeacherNav {
  height: 100%;
  width: 11%;
  overflow: auto;
  position: fixed;
  background-color: #f1f1f1;
}

.TeacherNav div {
  display: block;
  color: #000;
  margin-top: 20%;
  margin-bottom: 24%;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.TeacherNav div:hover {
  background-color: #555;
}

.TeacherNav div a {
  display: block;
  height: 100%;
  width: 100%;
  color: #000;
}

.TeacherNav div a:hover {
  color: white;
}

.TeacherMain {
  margin-left: 12%;
  padding-top: 2%;
}
